@tailwind base;
@tailwind components;
@tailwind utilities;

.bordersp {
  border-image: "url(/bg.png)";
  /*border-image-width: 100px;*/
  /*border-width: 100px;*/
  /*border-image-slice: fill;*/
  /*border-width: 40px;*/
  /*border-style: solid;*/
}


@font-face {
  font-family: "Shantell";
  src: url("/fonts/Shantell_Sans-Normal-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Shantell";
  src: url("/fonts/Shantell_Sans-Normal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Shantell";
  src: url("/fonts/Shantell_Sans-Normal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pilowlava";
  src: url("/fonts/Pilowlava-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Cakra";
  src: url("/fonts/Cakra-Normal.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam-Bold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Kalam";
  src: url("/fonts/Kalam-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

